@tailwind base;
@tailwind components;
@tailwind utilities;

/* ***************************************************** custom scroll-bar ******************************************* */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff5a5f;
    border-radius: 100vh;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
}

@layer components {
    .listItem {
        @apply cursor-pointer text-base font-bold capitalize text-white;
    }
}
